@font-face {
  font-family: 'Titillium Web';
  src:
          url(./fonts/TitilliumWeb/TitilliumWeb-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src:
          url(./fonts/TitilliumWeb/TitilliumWeb-Bold.ttf) format('truetype');

    font-weight: bold;
}

@font-face {
  font-family: 'Titillium Web';
  src:
          url(./fonts/TitilliumWeb/TitilliumWeb-SemiBold.ttf) format('truetype');

    font-weight: 600;
}
